@model TweetHarbor.Models.TemplateEditorModel
@{
    TweetHarbor.Models.TemplateEditorTypes editorType = Model.TemplateEditorType;
    string currentTemplateText = Model.TemplateEditorType == TweetHarbor.Models.TemplateEditorTypes.Success ?
        Model.Project.SuccessTemplate : Model.Project.FailureTemplate;
    currentTemplateText = string.IsNullOrEmpty(currentTemplateText) ?
        editorType == TweetHarbor.Models.TemplateEditorTypes.Success ? Messages.DefaultSuccessTemplate : Messages.DefaultFailureTemplate : currentTemplateText;
}
<div class='template_display' id="template_display_@(Model.Project.ProjectName)_@(Model.TemplateEditorType)">
    @Html.Raw(currentTemplateText)
</div>
<div class='template_edit' id="template_edit_@(Model.Project.ProjectName)_@(Model.TemplateEditorType)">
    <div class='template_edit_toolbar'>
        <a href="javascript:void(0);" title="Save Template" class='template_save_button' project="@Model.Project.ProjectName" templateType="@(Model.TemplateEditorType)">
            <img src="@Url.Content("~/Content/disc.png")" height="25"  /></a> <a href="javascript:void(0);"
                rel="{application.name}" class='template_field_insert'>{application:name}</a>
        <a href="javascript:void(0);" rel="{build:commit:message}" class='template_field_insert'>
            {build:commit:message}</a> <a href="javascript:void(0);" rel="{build:commit:id}"
                class='template_field_insert'>{build:commit:id}</a>
    </div>
    <textarea rows="5" cols="10" class='template_edit_field'>@currentTemplateText</textarea>
</div>
