@model TweetHarbor.Models.User
@{
    ViewBag.Title = "Your Account";
}
<link href="@Url.Content("~/Content/iphone-style-checkboxes.css")" rel="stylesheet" type="text/css" media="screen"/>
<script src="@Url.Content("~/scripts/iphone-style-checkboxes.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.insertAtCaret.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/account_home.js")"></script>
<fieldset id="service_accounts">
    <legend>Sign-in Accounts</legend>
    @foreach (var ac in Model.AuthenticationAccounts)
    {
        <div class='service_account'>
            <img src="@ac.ProfilePicUrl" />
            <div class="service_account_username">
                @ac.UserName
            </div>
        </div>  
    }
    <div class='service_account new_account'>
        <a href="/Account/Authorize?Client=Twitter">Add Twitter Account</a>
    </div>
</fieldset>
<div id="tweet_options">
    <div id="toggle_status_message">
    </div>
    <input type="checkbox" id="SendPrivateTweet" notification="SendPrivateTweet" 
             toggleType="GlobalNotificationToggle" class='notification_toggle switch'  @(Model.SendPrivateTweet ? "Checked" : "") />
    <label for="SendPrivateTweet" title="(Disable to prevent any direct messages for all
                applications)">
        Direct Messages Enabled
    </label>
    <input type="checkbox" id="SendPublicTweet" notification="SendPublicTweet"  
              toggleType="GlobalNotificationToggle" class='notification_toggle switch'  @(Model.SendPublicTweet ? "Checked" : "")/>
    <label for="SendPublicTweet" title=" (Disable to prevent any public messages
                for all applications)">
        Public Tweets Enabled</label>
    <input type="checkbox" id="SendSMS" notification="SendSMS"  
              toggleType="GlobalNotificationToggle" class='notification_toggle switch'  @(Model.SendSMS ? "Checked" : "")/>
    <label for="SendSMS" title=" (Disable to prevent any SMS messages
                for all applications)">
        SMS Enabled</label>
    <div id="global_toggle_status_message" class="error">
    </div>
</div>
<h2>
    Your Account</h2>
<div id="account">
    <img src="@Model.UserProfilePicUrl" id="img_profile" />
    <h3>@Model.UserName</h3>
    <div id="email_address_display">
        <span id="email_address_display_text">@Html.Raw((string.IsNullOrEmpty(Model.EmailAddress) ? "<em class='error'>No email address specified</em>" : Model.EmailAddress))</span>
        <a href='javascript:void(0);' id="editEmailLink">
            <img src="@Url.Content("~/Content/pencil.png")" width="15" /></a>
    </div>
    <div id="email_address_edit">
        <input id="email_address_text" value="@Model.EmailAddress" />
        <a href='javascript:void(0);' id="saveEmailLink">
            <img src="@Url.Content("~/Content/disc.png")" width="25" /></a>
        <div id="email_status_message">
        </div>
    </div>
    <div id="service_hook">
        <h3 id="">
            Service Hook Url</h3>
        <div id="service_hook_url" class='section'>
            <input id="link" type="text" readonly value="@Model.GetServiceHookUrl()" />
            <div id="instructions">
                *Paste this link into the <a href="https://appharbor.com/application">Service Hooks</a>
                section on App Harbor.
            </div>
        </div>
    </div>
    <div id="projects" class="section">
        Loading...
    </div>
    <div id="project_instructions">
        <h3>
            Getting Started</h3>
        <div class="section">
            <h4>
                The easy way</h4>
            <p>
                Already have apps? <a href="#" id="app_import">Import</a> them.
                <div id="appharbor_credentials" style="@(ViewBag.import_error != null ? "display:block" : "")">
                    <div class='notice'>
                        <em>This will automate the setup process -- service hooks and all.</em>
                    </div>
                    <div id="import_error" class='error'>@ViewBag.import_error</div>
                    @using (Html.BeginForm(new { Controller = "Projects", Action = "ImportFromAppHarbor" }))
                    { 
                        @Html.Label("Username", "AppHarbor Username")
                        @Html.TextBox("Username")
                        @Html.Label("Password", "AppHarbor Password")
                        @Html.Password("Password")
                        <input type="submit" value="Import" />
                    }
                    *Note - we do <strong>not</strong> store any of your AppHarbor credential information.
                </div>
            </p>
        </div>
        <div class="section">
            <h4>
                The other way</h4>
            <ul id="steps">
                <li class='step'>
                    <h4>
                        First, create an AppHarbor Application &gt;&gt;</h4>
                    <ol class='step-by-step'>
                        <li>Log in to your <a href="http://appharbor.com/session/new" target="_blank">AppHarbor
                            Account</a>. </li>
                        <li>Next you will <a href="http://appharbor.com/application/new" target="_blank">Create
                            an App</a>. </li>
                    </ol>
                </li>
                <li class='step'>
                    <h4>
                        Second, copy & Paste your Service Hook</h4>
                    <ol class='step-by-step'>
                        <li>Copy your Service Hook Url into your clipboard.</li>
                        <li>Next, <a href="http://appharbor.com/application" target="_blank">visit your new
                            application</a> and click "Service Hooks" (in the menu).</li>
                        <li>Then, Click "Add service hook"</li>
                        <li>Now, paste the link you copied in step 1, and save.</li>
                    </ol>
                    <p>
                    </p>
                </li>
                <li class='step'>
                    <h4>
                        Third, Trigger a Build & Configure</h4>
                    <ol class='step-by-step'>
                        <li>Now, change some code!</li>
                        <li>Push to your AppHarbor Git repository.</li>
                        <li>Refresh this page, these instructions will go away.</li>
                        <li>Configure your app.</li>
                    </ol>
                    <p>
                    </p>
                </li>
            </ul>
        </div>
        <div class='clear'>
        </div>
    </div>
    @*
    <div id="projects2" class='section'>
        
        <h3>
            Applications</h3>
       
        @if (Model.Projects.Count > 0)
        {
            <table id="projects_table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Tweet Success
                    </th>
                    <th>
                        DM Success
                    </th>
                    <th>
                        Tweet Failure
                    </th>
                    <th>
                        DM Failure
                    </th>
                    <th>
                        Text Success
                    </th>
                    <th>
                        Text Failure
                    </th>
                    <th>
                        Templates
                    </th>
                    <th>
                        Recipients
                    </th>
                    <th>
                        Notifications
                    </th>
                </tr>
                @foreach (var p in Model.Projects)
                {
                    var statusClass = p.ProjectNotifications.Count() > 0
                        && p.ProjectNotifications.OrderByDescending(pr => pr.NotificationDate).First().Build.status == "failed" ?
                        "build_failed" : "build_succeeded";
                    <tr>
                        <td class='@statusClass'>
                            <a href="https://appharbor.com/application/@p.ProjectName" target="_blank">@p.ProjectName</a>
                        </td>
                        <td class='@statusClass'>
                            <input type="checkbox" class='notification_toggle' project="@p.ProjectName" toggleType="ProjectNotificationToggle" notification="SendPublicTweetOnSuccess" @(p.SendPublicTweetOnSuccess ? "Checked" : "") />
                        </td>
                        <td class='@statusClass'>
                            <input type="checkbox" class='notification_toggle' project="@p.ProjectName" toggleType="ProjectNotificationToggle" notification="SendPrivateTweetOnSuccess" @(p.SendPrivateTweetOnSuccess ? "Checked" : "")/>
                        </td>
                        <td class='@statusClass'>
                            <input type="checkbox" class='notification_toggle' project="@p.ProjectName" toggleType="ProjectNotificationToggle" notification="SendPublicTweetOnFailure" @(p.SendPublicTweetOnFailure ? "Checked" : "")/>
                        </td>
                        <td class='@statusClass'>
                            <input type="checkbox" class='notification_toggle' project="@p.ProjectName" toggleType="ProjectNotificationToggle" notification="SendPrivateTweetOnSuccess" @(p.SendPrivateTweetOnSuccess ? "Checked" : "")/>
                        </td>
                        <td class='@statusClass'>
                            <input type="checkbox" class='notification_toggle' project="@p.ProjectName" toggleType="ProjectNotificationToggle"  notification="SendTextOnSuccess" @(p.SendTextOnSuccess ? "Checked" : "")/>
                        </td>
                        <td class='@statusClass'>
                            <input type="checkbox" class='notification_toggle' project="@p.ProjectName" toggleType="ProjectNotificationToggle" notification="SendTextOnFailure" @(p.SendTextOnFailure ? "Checked" : "")/>
                        </td>
                        <td class='@statusClass'>
                            <a href="javascript:void(0);" class='template_edit_button' rel="@(p.ProjectName.Replace(" ", "_"))">
                                <img src="@Url.Content("~/Content/pencil.png")" height="25" /></a>
                        </td>
                        <td class='@statusClass'>
                            <a href="javascript:void(0);" class='recipient_edit_button' rel="@(p.ProjectName.Replace(" ", "_"))">
                                <img src="@Url.Content("~/Content/pencil.png")" height="25" /></a>
                        </td>
                        <td class='@statusClass'>
                            <a href="javascript:void(0);" class='show_notifications_button' rel="@(p.ProjectName.Replace(" ", "_"))">
                                <img src="@Url.Content("~/Content/pencil.png")" height="25" alt="Show Notifications" /></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" id="templates_@(p.ProjectName.Replace(" ", "_"))" style="display:none">
                            <h4>
                                Message Templates</h4>
                            <table id="template_table">
                                <tr>
                                    <th>
                                        Successful Build Template
                                    </th>
                                    <th>
                                        Failed Build Template
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        @{Html.RenderPartial("_TemplateEditor", new TweetHarbor.Models.TemplateEditorModel() { Project = p, TemplateEditorType = TweetHarbor.Models.TemplateEditorTypes.Success });}
                                    </td>
                                    <td>
                                        @{Html.RenderPartial("_TemplateEditor", new TweetHarbor.Models.TemplateEditorModel() { Project = p, TemplateEditorType = TweetHarbor.Models.TemplateEditorTypes.Failure });}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" id="recipients_@(p.ProjectName.Replace(" ", "_"))" class='section message_recipients'>
                            <h4>
                                Direct Message Recipients</h4>
                            <div class='error recipients_status_message'>
                            </div>
                            <input type="text" />
                            <a href="javascript:void(0);" class='recipient_add_button' project="@p.ProjectName">
                                Add</a>
                            <div class='clear'>
                            </div>
                            @if (p.MessageRecipients.Count > 0)
                            {
                                <ul class='recipient_list'>
                                    @foreach (var r in p.MessageRecipients)
                                    { 
                                        <li><a class='recipient_remove_button' project='@p.ProjectName' recipient='@r.ScreenName' recipientType="Twitter">
                                            x </a>
                                            @r.ScreenName
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            { 
                                <ul class='recipient_list' rel="empty">
                                    <li><em>No message recipients specified - <strong>No direct messages will be sent</strong></em></li>
                                </ul>

                            }
                            <h4>
                                SMS Recipients</h4>
                            <div class='error text_recipients_status_message'>
                            </div>
                            <input type="text" />
                            <a href="javascript:void(0);" class='text_recipient_add_button' project="@p.ProjectName">
                                Add</a>
                            <div class='clear'>
                            </div>
                            @if (p.TextMessageRecipients.Count > 0)
                            {
                                <ul class='recipient_list'>
                                    @foreach (var r in p.TextMessageRecipients)
                                    { 
                                        <li><a class='recipient_remove_button' project='@p.ProjectName' recipient='@r.PhoneNumber' recipientType="SMS">
                                            x </a>
                                            @r.PhoneNumber @r.Name
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            { 
                                <ul class='recipient_list' rel="empty">
                                    <li><em>No SMS recipients specified - <strong>No SMS messages will be sent</strong></em></li>
                                </ul>

                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" class='notifications_list' id="notifications_@(p.ProjectName.Replace(" ", "_"))">
                            <h4>
                                Notifications</h4>
                            @if (p.ProjectNotifications.Count > 0)
                            {
                                <ul>
                                    @foreach (var r in p.ProjectNotifications)
                                    { 
                                        <li>
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Status
                                                        </th>
                                                        <th>
                                                            Message
                                                        </th>
                                                        <th>
                                                            Date/Time
                                                        </th>
                                                        <th>
                                                            Id
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tr>
                                                    <td>@r.Build.status
                                                    </td>
                                                    <td>@r.Build.commit.message
                                                    </td>
                                                    <td>
                                                        @r.NotificationDate.ToShortDateString() @r.NotificationDate.ToShortTimeString()
                                                    </td>
                                                    <td>
                                                        @r.Build.commit.id
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            { 
                                <ul class='recipient_list' rel="empty">
                                    <li><em><strong>No notifications have been recieved.</strong></em></li>
                                </ul>

                            }
                        </td>
                    </tr>
                }
            </table>    
        }
        else
        {
            <em>Applications will appear here once a notification has been received from AppHarbor
                - Set up your service hook and trigger a build to make this happen</em>
        }
    </div>*@
</div>
