@model IEnumerable<TweetHarbor.Models.User>
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<h3>
    Users: @Model.Count();
</h3>
<table>
    <tr>
        <th>
            User Name
        </th>
        <th>
            EmailAddress
        </th>
        <th>
            Pic
        </th>
        <th>
            SendPrivateTweet
        </th>
        <th>
            SendPublicTweet
        </th>
        <th>
            Projects
        </th>
        <th>
            Date Joined
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TwitterUserName }) |
            @Html.ActionLink("Details", "Details", new { id=item.TwitterUserName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TwitterUserName })
        </td>*@
            <td>@item.TwitterUserName
            </td>
            <td>
                @item.EmailAddress
            </td>
            <td>
            @if (!string.IsNullOrEmpty(item.UserProfilePicUrl))
            { 
                <img src="@item.UserProfilePicUrl" />
            }
            else
            { 
                <text>[none]</text>
            }
            </td>
            <td>
                @item.SendPrivateTweet
            </td>
            <td>
                @item.SendPublicTweet
            </td>
            <td>
                @foreach(var p in item.Projects)
                {
                    <text>@p.ProjectName<br /></text>
                }

            </td>
            <td>@item.DateCreated</td>
        </tr>
    }
</table>
