@if (Request.IsAuthenticated && null != Html.CurrentUser())
{ 
    <div id="logon_status">
        <a href="/Account">
            <img src="@Html.CurrentUser().UserProfilePicUrl" class='user_partial_small_pic' valign="middle" />@Html.CurrentUser().UserName</a>
        @Html.ActionLink("Sign Out", "LogOff", "Account")
    </div>
}
else
{
    <div id="logon_status">
        <a href="/Account/Authorize?Client=Twitter">
            <img src="@Url.Content("~/Content/twitter.png")" alt="Sign in with Twitter" /></a>
        <a href="/Account/Authorize?Client=AppHarbor">
            <img src="@Url.Content("~/Content/appharbor_logo.png")" alt="Sign in with AppHarbor" /></a>
    </div>
}
