@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
@Html.ActionLink("Users", "Index", "Users")
@Html.ActionLink("Projects", "Index", "Projects")
@Html.ActionLink("User Authentication Accounts", "Index", "UserAuthenticationAccounts")
@Html.ActionLink("Incoming Notifications", "ProjectNotifications", "Projects")
@Html.ActionLink("Outgoing Notifications", "OutboundNotifications", "Projects")
@Html.ActionLink("Fix Twitter Accounts", "FixTwitterAccounts")